/* Global */
body,
html {
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}
.container {
  margin: auto;
  width: 80%;
  overflow: hidden;
}

/* Contents */
.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: auto;
}
.insert {
  display: flex;
  flex-direction: "row";
  margin-top: 5%;
  width: 50%;
  height: 5vh;
}
.insert input {
  width: 98%;
  font-size: 24px;
  outline: 0;
  margin-left: 2%;
  background: transparent;
  text-align: center;
  border: 2px solid black;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
.curr {
  border: none;
  font-size: 22px;
}
.exchangeImg {
  width: 25%;
}
.cal {
  margin-top: 2%;
  height: 3em;
  font-size: 24px;
  border-radius: 10px;
  background: transparent;
  border: lime 5px double;
  margin-bottom: 1.5%;
  cursor: pointer;
  transition: 0.4s;
}
.cal:hover {
  transform: scale(1.2);
}
